.card-user .card-image {
  height: 110px;
}
.card .card-image {
  width: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  position: relative;
  transform-style: preserve-3d;
}
.card-user .card-body {
  min-height: 200px;
}

.card-skill{
  margin-top: -70px;
}
.card-user .profilecard {
  text-align: center;
  text-transform: none;
  margin-top: -70px;
}
.card .profilecard{
  font-size: 12px;
  font-weight: 600;
}
.card-user .avatar.border-gray {
  border-color: #EEEEEE;
}
.card .description {
  font-size: 14px;
  color: #333;
}
.card-details .card-body  {
  min-height: 350px;
}
.resumeBtn p a {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card-details .card-experience{
  width: 600px;
  float: inline-end;
}

@media (max-width:768px) {
  .card-details{
    width: 100%;
    float: none;
  }
  .card-skill{
    margin-top: 0px;
  }
}

 /* .card-user .avatar {
  width: 124px;
  height: 124px;
  border: 5px solid #FFFFFF;
  position: relative;
  margin-bottom: 15px;
}
.card .avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5px;
} */
